<!DOCTYPE HTML>
{% if site.lang %}
<html lang="{{ site.lang }}">
{% else %}
<html>
{% endif %}
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  <link href="/favicon.ico" rel="shortcut icon">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/downloadbutton.css">
</head>	
