{% include head.html %}

  <body>
    {% include google_analytics.html %}
    <!-- HEADER -->
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="navbar-brand header-img" href="http://openlivewriter.org" src="/favicon.ico">
          <style>
            .navbar-brand {
              padding: 0;
            }
            
            .header-img {
              margin: 0;
            }
          </style>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="http://openlivewriter.org">Home</a></li>
            <li><a href="http://openlivewriter.org/news/">News</a></li>
            <li><a href="http://openlivewriter.org/blog/">Blog</a></li>
            <li><a href="http://openlivewriter.org/tutorials">Tutorials</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/OpenLiveWriter">View on GitHub</a>
          <h1 id="project_title"><a href="/"><img src="/images/openlivewriter-purpleheader.png" alt="Open Live Writer"/></a></h1>
          {% if page.subtitle %}
    	    <h2 id="project_tagline">{{ page.subtitle }}</h2>
          {% endif %}
        </header>
    </div>

{% if page.download == true %}
{% include download.html %}
{% endif %}    

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <div id="main_content" class="inner">{{ content }}</div>
    </div>
    <div id="footer_wrap" class="outer">
      <footer id="footer" class="inner">{% include footer.html %}</footer>
    </div>
    <style>
      body { padding-top: 50px; }
    </style>
  </body>
</html>
