{% include head.html %}
    <!-- HEADER AND NAVIGATION -->
    {% include header.html %}
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <div id="main_content" class="inner">
            {{ content }}
        </div>
    </div>
</div>
<!-- FOOTER -->
{% include footer.html %}
<!-- SCRIPTS AND STYLES -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    // This function manages which navigation tab is currently active
    $(document).ready(function() {
        var current_href = window.location.href;
        // Filters out the leading folder from the url
        var re = /\/\w+\//i;
        var m;
        while ((m = re.exec(current_href)) !== null) {
            if (m.index === re.lastIndex) {
                re.lastIndex++;
            }
            var current_tab = m[0];
            // Iterate over all navigation tabs and update the active tab
            $(".nav li").each(function() {
                if (current_tab.indexOf(this.id) > -1) {
                    $(this).addClass("active");
                } else {
                    $(this).removeClass("active");
                }
            })
            break;
        };
    })
</script>
<style>
    /* Make the navigation tab bar have a purple background */
    .nav-tabs {
        background-color: #7E4999;
    }
    /* Make the active tab white with purple text and sharp edged */
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
        color: #7E4999;
        background-color: #fff;
        /* border: 1px solid #ddd; */
        border-bottom-color: transparent;
    }
    /* Make the hovered tab background slightly different */
    .nav-tabs > li > a:hover {
        background-color: #ddd;
        color: #7E4999
    }
    /* Make the tabs square and white */
    .nav-tabs > li > a {
        margin-right: 0;
        border-radius: 0 0 0 0;
        color: #fff;
        /* border: 1px solid transparent; */
    }
</style>
</body>
</html>
